<%- include("partials/header"); -%>

<div class="container-home">
    <h1>Welcome to ToxiCheck</h1>
    <p>Empowering Discussions, Eliminating Toxicity</p>
    <div class="post-grid">
        <% posts.forEach(function(post) { %>
            <div class="post">
                <h2><a href="/posts/<%= post._id %>" class="post-title"><%= post.post_title %></a></h2>
                <a href="/posts/<%= post._id %>" class="post-image-link">
                    <img src="<%= post.post_image %>" class="post-image" alt="Post Image">
                </a>
                <p>
                    <%= post.post_body.substring(0, 150) + "..." %>
                    <a href="/posts/<%= post._id %>" class="continue-reading">Continue Reading...</a>
                </p>
                <% if (role === "admin") { %>
                    <div class="edit-delete">
                        <a href="/posts/<%= post._id %>/edit" class="btn edit">Edit</a>
                        <form action="/delete/<%= post._id %>" method="POST" style="display: inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn delete">Delete</button>
                        </form>
                    </div>
                <% } %>
            </div>
        <% }) %>
    </div>
</div>

<%- include("partials/footer"); -%>
